.title0 {
    font-size: 60px;
    position: relative;
    left: 500px;
}
.title {
    font-size: 15px;
    position: relative;
    right: 80px;
    top: 50px;
}     
.title5 {
    font-size: 15px;
    position: relative;
    right: 750px;
    top: 100px;
}
.title6 {
    font-size: 15px;
    position: relative;
    left: 665px;
    top: 58px;
}


.title1 {
    font-size: 30px;
    position: relative;
    left: 357px;
    top: 200px;
    border: none;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.title2 {
    font-size: 30px;
    position: relative;
    left: 230px;
    top: 340px;
    border: none;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.title4 {
    font-size: 30px;
    position: relative;
    right: 210px;
    top: 480px;
    border: none;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.title3 {
    font-size: 30px;
   position: relative;
  left: 40px;
  top: 620px;
  border: none;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
    }